python/.ipynb_checkpoints/**
python/module-1-working.ipynb
python/jeremy-baird-3-3-q3.ipynb
python/jeremy-baird-3.3.png
mathematica/hw-6-1-pb1-2ndTry.nb
mathematica/hw-6-1-pb1.nb
mathematica/UniformDensityFunction.nb
mathematica/variance-explained.nb
python/sample-standard-deviation.py
python/module-1-working-Copy1.ipynb
